html {
    position: relative;
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

main {
    padding-bottom: 200px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 135px;
    background-color: #f8f8f8;
}

.max-width-85 {
    max-width: 85%;
    margin: 0 auto;
}

.max-width-60 {
    max-width: 60%;
    margin: 0 auto;
}

.max-width-40 {
    max-width: 40%;
    margin: 0 auto;
}

.max-width-25 {
    max-width: 25%;
    margin: 0 auto;
}

.text-area {
    white-space: pre-wrap;
    font-size: 14px !important;
    color: #000 !important;
}

.justify-align {
    text-align: justify;
    text-justify: distribute-all-lines;
    -moz-text-align-last: justify;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .justify-align:after {
        content: '.';
        display: inline-block;
        width: 100%;
        overflow: hidden;
        height: 0;
    }
}