html {
    position: relative;
    height: 100%;
}

body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif !important;
}

footer {
    margin-top: -30px;
    height: 30px;
}

.wrapper {
    min-height: 100%
}

ul.navbar-right {
    height: 45px;
    border-bottom: groove;
    border-width: 1px;
    border-color: rgba(205, 205, 205, 0.34);
}

.nav a {
    color: #333;
}

.nav a:hover,
.nav a:focus {
    color: black;
    text-decoration: none;
}

.nav li a:hover,
.nav li a:focus {
    background-color: rgba(255, 255, 255, 0) !important;
}

ul.navbar-right {
    height: 45px;
    border: groove;
    border-right: none;
    border-top: none;
    border-left: none;
    border-width: 1px;
    border-color: rgba(205, 205, 205, 0.34);
}

/* 小屏幕时nav继续横着排列 */
.navbar-nav > li {
    float: left;
}

.nav > li > a {
    color: #333;
}

.nav > li.active > a {
    color: #333;
    font-weight: bold;
}

.main {
    padding-bottom: 100px;
    overflow: hidden;
}

.col-center-block {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img, a img {
    border: 0;
    margin: 0;
    padding: 0;
    max-width: 80%;
    max-height: 80%;
}

.card {
    position: relative;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .1);
    margin-bottom: 25px;
    border-radius: 4px;
    display: block;
}

.nav-tabs {
    border: none;
}

.nav-tabs > li > a {
    font-size: 14px;
    margin-right: 2px;
    line-height: 1.42857143;
    border: none;
    border-radius: 4px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    border: none;
}

.sidebar-title {
    color: #4A4A4A;
}

.post {
    padding: 30px 0;
    position: relative;
}

.post-title {
    margin-bottom: 5px;
    color: #111;
}

.post-meta {
    margin-bottom: 20px;
    color: #999;
}

.post-content {
    margin-top: 10px;
}

article h1 {
    font-size: 26px;
    padding: 30px 0;
}

article h2 {
    font-size: 24px;
    padding: 26px 0;
}

article h3 {
    font-size: 22px;
    padding: 22px 0;
}

article h4 {
    font-size: 20px;
    padding: 18px 0;
}

article h5 {
    font-size: 18px;
    padding: 14px 0;
}

article h6 {
    font-size: 16px;
    padding: 10px 0;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    color: #3c3c3c;
    background-color: #fff;
    border-color: #ddd;
    font-weight: bold;
}

.pagination > li > a, .pagination > li > span {
    color: #737373;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    background-color: #f5f5f5;
}

.footer-link {
    color: #555;
    border-right: 1px solid #d6d6d6;
    padding: 0 6px;
}

.search {
    width: 477px;
    _width: 477px;
    height: 81px;
}

.keyword a {
    font-size: 12px;
    line-height: 18px;
    color: #999;
    padding: 0 4px;
}

.keyword a span {
    color: #fb5004;
}

.tab-bar li.current {
    color: #1d7ad9;
    font-weight: bold;
    padding-bottom: 9px;
}

.tab-bar li {
    width: 38px;
    text-align: center;
    color: #444;
    float: left;
    cursor: pointer;
}

.tab-bar li.tab-line {
    width: 2px;
    color: #c9c9c9;
    margin: 0 2px;
}

.tab-box {
    border: 2px solid #1d7ad9;
}

.text {
    color: #a9a9a9;
    width: 376px;
    height: 31px;
    border: none;
    text-indent: 10px;
    float: left;
    outline: none;
    border: 0;
}

.button {
    width: 97px;
    height: 32px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #1d7ad9;
    border: none;
    float: left;
}

