{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block main_without_sidebar %}
    <div class="row max-width-85">
        <div class="col-md-12">
            <div class="tabular" id="tabs-785017">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#article-hot" data-toggle="tab">最受欢迎的文章</a>
                    </li>
                    <li>
                        <a href="#col-hot" data-toggle="tab">最受欢迎的收集</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="article-hot">
                        {% for post in popular_articles %}
                            <div class="post">
                                <h3><a class="post-title" href="{{ post.get_url }}">{{ post.title }}</a></h3>
                                <ul class="list-inline">
                                    <li class="text-muted small"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ post.update_time }}</li>
                                    <li class="text-muted small"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ post.author }}</li>
                                    <li class="text-muted small"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{ post.category }}</li>
                                </ul>
                                <p>{{ post.content | truncatechars_html:180 }}</p>
                                <a class="post-meta" href="{{ post.get_url }}">阅读全文&raquo;</a>
                            </div>
                        {% empty %}
                            <p>暂时没有文章更新。</p>
                        {% endfor %}
                    </div>
                    <div class="tab-pane" id="col-hot">
                        {% for post in popular_collections %}
                            <div class="post">
                                <h3><a class="post-title" href="{{ post.get_url }}">{{ post.title }}</a></h3>
                                <ul class="list-inline">
                                    <li class="text-muted small"><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{ post.update_time }}</li>
                                    <li class="text-muted small"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>{{ post.author }}</li>
                                    <li class="text-muted small"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span>{{ post.category }}</li>
                                </ul>
                                <p>{{ post.description }}</p>
                                <a class="post-meta" href="{{ post.get_url }}">转到原网页阅读全文&raquo;</a>
                            </div>
                        {% empty %}
                            <p>暂时没有收集更新。</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

