{% extends "base.html" %}
{% load static %}
{% block title %}首页{% endblock %}
{% block main %}
    <div class="container">
        <div>
            <h4>最近更新的文章</h4>
            {% for article in articles %}
                <ul>
                    <li>
                        <time datetime="{{ article.date_time }}">
                            <small>{{ article.date_time | date:"Y-m-d" }}</small>
                        </time>
                        <a href="{% url 'article_detail' id=article.id %}"><b>{{ article.title }}</b></a></li>
                </ul>
            {% empty %}
                <p>暂时没有文章更新。</p>
            {% endfor %}
        </div>
        <div>
            <h4>最近收藏的收集</h4>
            {% for collection in collections %}
                <ul>
                    <li>
                        <time class="post-date" datetime="">
                            <small>{{ collection.date_time|date:"Y-m-d" }}</small>
                        </time>
                        <a href={{ collection.url }}><strong>{{ collection.title }}</strong></a>
                    </li>
                </ul>
            {% empty %}
                <p>暂时没有收集更新。</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

