{% extends "base.html" %}
{% load static %}
{% block title %}首页{% endblock %}
{% block main %}
    <div class="container">
{#        <div class="row">#}
{#            {% if user.is_authenticated %}#}
{#                <ul class="list-inline list-unstyled">#}
{#                    <li class="col-md-offset-10"><a class="btn btn-info" href="">添加页面</a>#}
{#                    </li>#}
{#                    <li><a class="btn btn-info" href="">写新文章</a></li>#}
{#                </ul>#}
{#            {% endif %}#}
{#        </div>#}
        <div>
            <h4>最近更新的文章</h4>
            {% for article in articles %}
                <ul>
                    <li>
                        <time datetime="{{ article.date_time }}">
                            <small>{{ article.date_time | date:"Y-m-d" }}</small>
                        </time>
                        <a href=""><b>{{ article.title }}</b></a></li>
                </ul>
            {% empty %}
                <p>暂时没有文章更新。</p>

            {% endfor %}
        </div>
        <div>
            <h4>最近收藏的收集</h4>
            {% for collection in collections %}
                <ul>
                    <li>
                        <time class="post-date" datetime="">
                            <small>{{ collection.date_time|date:"Y-m-d" }}</small></time>
                        <a href=""><strong>{{ collection.title }}</strong></a>
                    </li>
                </ul>
            {% empty %}
                <p>暂时没有收集更新。</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

