{% extends 'blog/base.html' %}


{% block main %}
    <div class="container ">
        <form id="login_form" enctype="multipart/form-data" class="max-width-25" method="POST"
              action="{% url 'login' %}" target="_self">
            {% csrf_token %}
            <div class="form-group">
                <label>用户名</label>
                <input type="text" name="username" class="form-control" placeholder="User Name" autofocus
                       autocomplete="on" required>
            </div>
            <div class="form-group">
                <label>密码</label>
                <input type="password" name="password" value="" class="form-control" placeholder="Password" required>
            </div>
            <div>
                <p class="checkbox-inline"><input type="checkbox">记住我 (不要在公共电脑上选择此项)</p>
                <p></p>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <li class="list-unstyled">没有账号？点击<a href="{% url 'register' %}">此处注册</a></li>
        </form>
    </div> <!-- /container -->
{% endblock %}