{% extends 'blog/base.html' %}

{% load static %}

{% block main %}
    <div class="container ">
        {% if registered %}
            {% if not user.is_authenticated %}
                <h3 class="form-group-heading center-block text-center">感谢注册</h3>
                <p class="text-center">点击<a href="{% url 'index' %}">此处</a>返回首页</p>
            {% else %}
                <h3 class="form-group-heading center-block text-center">您已注册登陆到：{{ user.username }}</h3>
                <p>点击<a href="{% url 'index' %}">此处</a>返回首页。</p>
            {% endif %}
        {% else %}
            <form class="max-width-25" id="user_form" method="POST" action="{% url 'register' %}"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>用户名</label>
                    <input type="text" name="username" value="" class="form-control"
                           placeholder="User Name" required>
                </div>
                <div class="form-group">
                    <label>密码</label>
                    <input type="password" name="password" value="" class="form-control"
                           placeholder="Password"
                           required>
                </div>
                <div class="form-group">
                    <label>邮箱</label>
                    <input type="email" name="email" value="" class="form-control"
                           placeholder="E-mail" required>
                </div>
                <div class="form-group">
                    <label>头像</label>
                    <input type="file">
                    <p class="help-block">这项非必须，不过建议加入自己的头像。</p>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
            </form>
        {% endif %}
    </div> <!-- /container -->

{% endblock %}
