{% extends "base.html" %}
{% block title %}收集{% endblock %}
{% block nav-link %}
<li><a class="nav-link" href="{% url 'index' %}">首页</a></li>
<li><a class="nav-link" href="{% url 'article' %}">文章</a></li>
<li class="active"><a class="nav-link" href="{% url 'collection' %}">收集</a></li>
<li><a class="nav-link" href="{% url 'feed' %}">订阅</a></li>
{% endblock %}
{% block main %}
        {% for post in post_list %}
            <div>
                <h3><a class="post-title" href="{{ post.get_url }}">{{ post.title }}</a></h3>
                <small class="text-muted">
                    <span class="glyphicon glyphicon-time">{{ post.pub_time | date:"Y-m-d" }}</span>
                    <span class="glyphicon glyphicon-user">{{ post.author }}</span>
                    <span class="glyphicon glyphicon-tag">{{ post.category }}</span>
                </small>
                <p>{{ post.description }}</p>
                <a class="post-meta" href="{{ post.get_url }}">转到原网页阅读全文&raquo;</a>
            </div>
                <hr>
        {% endfor %}
        <nav aria-label=" Page navigation">
            <ul class="pagination">
                {% if post_list.has_previous %}
                    <li>
                        <a href="?p={{ post_list.previous_page_number }}"
                           aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if first_page %}
                    <li><a href="?p=1">1</a></li>
                    <li>...</li>
                {% endif %}
                {% for page in page_num %}
                    {% ifequal current_page page %}
                        <li class="active"><a
                                href="?p={{ page }}">{{ page }}</a></li>
                    {% else %}
                        <li><a href="?p={{ page }}">{{ page }}</a></li>
                    {% endifequal %}
                {% endfor %}
                {% if post_list.has_next %}
                    <li>
                        <a href="?p={{ post_list.next_page_number }}""
                        aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                {% if lastpage %}
                    <li>...</li>
                    <li><a href="?p={{ last_page }}">{{ last_page }}</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
{% endblock %}