<!DOCTYPE html>
{% load static %}
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Willtunner的技术博客">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet"
          href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    {% block head %}{% endblock %}
    <title>{% block title %}{% endblock %} -Willtunner</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="navbar navbar-default navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/" target="_blank">Willtunner</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/article">Article</a></li>
                        <li><a href="/collection">Collection</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li><a href="/admin">{{ user.username }}</a></li>
                            <li><a href="/logout">登出</a></li>
                        {% endif %}
                        <li>
                            <form class="navbar-form" action="/search"
                                  method="GET" role="search">
                                <div class="input-group">
                                    <input name="q" type="text"
                                           class="form-control" placeholder="搜索收集/文章"/>
                                    <span class="input-group-btn"><button type="submit"
                                                                          class="btn btn-default">搜索</button></span>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <main class="main">{% block main %}{% endblock %}</main>
</div>
<footer class="footer">
    <div class="container">
        <div class="text-center">
            <ul class="list-inline">
                <li><a href="http://weibo.com/thisiskevinathere" target="_blank">微博</a></li>
                <li><a href="https://www.zhihu.com/people/hellohanke/activities" target="_blank">知乎</a></li>
                <li><a href="https://github.com/Willtuner" target="_blank">GitHub</a></li>
                <li><a href="mailto:hanke.amadeus@gmail.com" target="_blank">电子邮件</a></li>
            </ul>
            <p>Copyright © 2017, Willtunner , All Rights Reserved</p>
        </div>
    </div>
</footer>
</body>
{% block foot %}{% endblock %}
</html>