<footer class="container-fluid">
  <div class="row footer-about">
    <div class="col-md-6">
      <a class="footer-link" href="http://weibo.com/thisiskevinathere" target="_blank">微博</a>
      <a class="footer-link" href="https://www.zhihu.com/people/hellohanke/activities" target="_blank">知乎</a>
      <a class="footer-link" href="https://github.com/Willtuner" target="_blank">GitHub</a>
      <a class="footer-link" href="mailto:hanke.amadeus@gmail.com" target="_blank">电子邮件</a>
    </div>
    <div class="col-md-6 text-right">
      <div class="footer-copyright">©2017 Willtunner. All Rights Reserved
      </div>
    </div>
  </div>
</footer>