<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load humanize %}
{% load blog_extras %}
{% block main %}
    <div class="container">
        <div>
            <ul class="list-inline">
                <li><a class="btn btn-default" href="{% url 'all_articles' %}">所有分类</a></li>
                <li class="divider"></li>
                {% for category in categories %}
                    <li><a class="btn btn-default"
                           href="{% url 'articles' category.slug %}">{{ category.name }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
        <div class="row">
            {% if user.is_authenticated %}
                <ul class="list-inline list-unstyled">
                    <li class="col-md-offset-10"><a class="btn btn-info" href="{% url 'add_page' %}">添加页面</a>
                    </li>
                    <li><a class="btn btn-info" href="{% url 'add_article' %}">写新文章</a></li>
                </ul>
            {% endif %}
        </div>

        <div>
            {% for article in articles %}
                <header>
                    <h3><a href="{% url 'article' article.slug %}" target="_blank">{{ article.title }}</a></h3>
                </header>
                <footer>
                    <a>{{ article.author }}</a>
                    <time class="post-date" datetime="">| {{ article.create_date|naturaltime }}创建</time>
                </footer>
                <p>
                    <small>{{ article.writings | summary }}
                        <a class="read-more" href="{% url 'article' article.slug %}" target="_blank">&raquo;</a>
                    </small>
                </p>
            {% empty %}
                <p>暂时没有文章。</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}