{% extends 'base.html' %}
{% load mk %}
{% block title %}{{ article.title }}{% endblock %}
{% block body %}
    <div style="margin-top: 20px;">
        <h2><a class="post-title" href="{% url "article_detail" pk=article.id %}" itemprop="url"><strong>{{ article.title }}</strong></a></h2>
        <small class="text-muted">
            <span class="glyphicon glyphicon-time">{{ article.pub_time | date:"Y-m-d" }}</span>
            <span class="glyphicon glyphicon-user">{{ article.author }}</span>
            <span class="glyphicon glyphicon-tag">{{ article.category }}</span>
        </small>
        <div class="post-content">{{ article.content | mk }}</div>
    </div>
{% endblock %}
