{% extends 'base.html' %}
{% load static %}
{% block title %}编辑{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static "article/css/edit.css" %}">
    <link rel="stylesheet" href="{% static 'article/css/style.css' %}">
{% endblock %}
{% block main %}
    <div id="layout">
        <header>
            <h1>Simple example</h1>
        </header>
        <div id="editor_md">
                <textarea style="display:none;">{{ article.content }}

</textarea>
        </div>
    </div>
    <script src="{% static "article/js/edit.js" %}"></script>
    <script type="text/javascript">
        var editor;

        $(function () {
            editor = editormd("editor_md", {
                width: "90%",
                height: 640,
                syncScrolling: "single",
                path: "media/"
            });
        });
    </script>
{% endblock %}

