{% extends 'blog/base.html' %}


{% block main %}
    <div class="container ">
        <form class="max-width-85" method="POST" action="">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-8 form-group">
                    <label>标题</label>
                    <input type="text" name="title" value="" class="form-control" placeholder="Title" required>
                </div>
                <div class="col-md-4  form-group">
                    <label>分类</label>
                    <select name="category" data-toggle="select" class="form-control select-info" required>
                        <option value="">-----</option>
                        {% for category in categories %}
                            <option value="{{ category.slug }}">{{ category.name }}</option>
                        {% empty %}
                            <option value="">None</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit" formaction="{% url 'add_article' %}">提交</button>
                <a target="_blank">
                    <button class="btn btn-default" type="submit" formaction="{% url 'markdown_preview' %}">预览</button>
                </a>
            </div>
            <div class="form-group">
                <label>内容</label>
                <textarea class="form-control" rows="25" required name="writings"></textarea>
            </div>
        </form>
    </div>
{% endblock %}

